body {
  background-color: f4f4f4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;

}

container {
  max-width:  1280px;
  max-height: 720px;
}

#nav {
  background-color: #D8D8D8;

}

#secondarynav {
  background-color: #D8D8D8;

}

.user-icon {
  background-color: #444444;
  height: 100px;
  width: 100px;
}

#footer {
  background-color: #D8D8D8;

}
