:root {
  --base-font:'Open Sans', sans-serif;
  --background: #f4f4f4;
  --wBackground: #D8D8D8;
}

body {
  min-height: 100vh; /*visual height percent*/
  background-color: var(--background);
  font-family: var(--base-font);
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

container {
  width: 100%;
  max-width: 640px;
  max-height: 340px;
  border: solid #444444 1px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*----Game Start---- */
.startScreen {
background-color: var(--wBackground);
top: 0;
height: 100%;
width: 100%;
position: absolute;
text-align: center;
font-size: 1.6em;
display: flex;
flex-direction: column;
transition: transform .6s ease-in-out;
z-index: 2;
}

.startButton {

}

/*----Game modal---- */
.characterModal {
background-color: var(--wBackground);
top: 0;
height: 100%;
width: 100%;
position: absolute;
text-align: center;
font-size: 1.6em;
display: flex;
flex-direction: column;
transition: transform .6s ease-in-out;
z-index: 1;
}


.startButton {

}
/*----Game---- */

#nav {
  background-color: var(--Wbackground);
  max-height: 50px;
  display: flex;
  justify-content: space-between;
}

#user-icon {
  background-color: #444444;
  height: 50px;
  width: 50px;
}

#user-name {

}

#rename {

}

#age {
display: flex;
align-items: center;
padding-right: 8px;
}

#secondarynav {
  background-color: var(--wBackground);
  height: 50px;
  display: flex;
  justify-content: space-around;
}


.status {
  display: flex;
  align-items: center;

}

#game {
  height: 190px;
  display: flex;
  justify-content:center;
}


#footer {
  background-color: var(--wBackground);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#feed {
  background-color: var(--wBackground);

}


#lights {
  background-color: var(--wBackground);

}


#play {
  background-color: var(--wBackground);

}
