:root {
  --base-font:'Open Sans', sans-serif;
  --background: #f4f4f4;
  --wBackground: #D8D8D8;
}

body {
  min-height: 100vh; /*visual height percent*/
  background-color: var(--background);
  font-family: var(--base-font);
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

container {
  border: solid #444444 1px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#nav {
  background-color: var(--Wbackground);
  max-height: 100px;
  display: flex;
  justify-content: space-between;
}

#user-icon {
  background-color: #444444;
  height: 100px;
  width: 100px;
}

#user-name {
  padding: 16px;
}

#rename {
  padding: 16px;
}

#age {
  padding: 16px;
}

#secondarynav {
  background-color: var(--wBackground);
  height: 70px;
  display: flex;
  justify-content: space-around;
}


.status {
  display: flex;
  align-items: center;

}

#game {
  height: 400px;
  display: flex;
  justify-content:center;
}


#footer {
  background-color: var(--wBackground);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#feed {
  background-color: var(--wBackground);

}


#lights {
  background-color: var(--wBackground);

}


#play {
  background-color: var(--wBackground);

}
